h1 {
    font-family: 'Pirata One', cursive;
    color:rgb(8, 8, 8);
    text-align:center;

}
nav{
  font-size: 24px;
  font-family: 'Pirata One', cursive;
  background-image: url("./images/map2.jpg"); /* The image used */
  background-color: #d6b8a0; /* Used if the image is unavailable */
  height: 100px; /* You must set a specified height */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
body {
    /* Box-model */
  padding: 0;

  /* Positioning */
  margin: 0;
  font-family: 'Pirata One', cursive;

  /* Typography */
  font-size: 18px;
  line-height: 150%;
  color: #333;

  /* Visual */
  background-image: url("./images/map2.jpg"); /* The image used */
  background-color: #e4af83; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
image{
  opacity: .4;
   filter: alpha(opacity=53); /* For Internet Explorer 8 and earlier */
    font-family: 'Pirata One', cursive; 
}
button{
  font-family: 'Pirata One', cursive;
}
p{
  font-family: 'Pirata One', cursive;
    color:rgb(8, 8, 8);
    text-align:center;
}
footer{
  font-family: 'Pirata One', cursive;
    color:rgb(8, 8, 8);
    text-align:center;
}

.navbar-brand{
  font-size: 24px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.text-box{
  font-family: 'Pirata One', cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
legend{
  font-family: 'Pirata One', cursive;
  color:rgb(8, 8, 8);
}
form{
  font-family: 'Pirata One', cursive;
  color:rgb(8, 8, 8);
}
